body
{
  background-color: #CFCFCF;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

/* panel z przyciskami po lewej */
#left-panel
{
  position: absolute;
  width: 12%;
  height: 98%;
  left: 0%;
  text-align: center;
  vertical-align: middle;
}

/* panel srodkowy */
#center-panel
{
  position: absolute;
  width: 74%;
  height: 95%;
  margin-left: 12%;
  border-style: solid;
  border-width: 1px;
}

/* panel z przyciskami po prawej */
#right-panel
{
  position: absolute;
  width: 12%;
  height: 97%;
  right: 0%;
}

/* czas wyswietlany na gorze */
#time
{
  position: fixed;
  left: 13.5%;
  z-index: 100;
  font-weight: bold;
  font-size: 25px;
}

/* temeratura wyswietlana na gorze */
#temp
{
  position: fixed;
  right: 14.5%;
  z-index: 100;
  font-weight: bold;
  font-size: 25px;
}

/* przyciski glowne (z lewej i prawej kolumny) */
.buttony
{
  text-align: center;
  vertical-align: middle;
  width: 90%;
  height: 13%;
  border-radius: 20%;
  border-style: solid;
  border-width: 3px;
  font-size: 20px;
  margin-left: 5%;
  margin-top: 45%;
  margin-bottom: 35%;
  font-weight: bold;
}

/* napisy na przyciskach glownych */
.sub-butt
{
margin-top: 25%;
font-size: 30px;
}

.screen
{
  position: absolute;
  width: 100%;
  #background-color: green;
  height: 100%;
  display: none;
  font-weight: bold;
}

/* panel wyswietlany na caly ekran "brak noscikow" */
#info
{
  display: none;
  z-index: 500;
  width: 90%;
  height: 90%;
  position: fixed;
  border-style: solid;
  border-width: 5px;
  background-color: #FF9393;
  left: 5%;
  top: 5%;
  text-align: center;
  vertical-align: middle;
  font-size: 70px;
  font-weight: bold;
  opacity: 0.9;
}
#info-sub
{
  margin-top: 20%
}

/*--------------- radio------------------------------ */
.buttony-radio
{
  text-align: center;
  vertical-align: middle;
  width: 23%;
  border-radius: 20%;
  border-style: solid;
  border-width: 3px;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  bottom: 8%;
}
#button-radio
{
  background-color: #FF9393;
}
#button-radio-1
{
  left:15%;
}
#button-radio-2
{
  left:39%;
}
#button-radio-3
{
  left:63%;
}
#radio-screen
{
  display: block;
}
#radio-screen
{
  text-align: center;
  vertical-align: middle;
}
#radio-station
{
  margin-top: 27%;
  font-size: 60px;
  font-weight: bold;
}

/*--------------- media------------------------------ */
.buttony-media
{
  text-align: center;
  vertical-align: middle;
  width: 23%;
  border-radius: 20%;
  border-style: solid;
  border-width: 3px;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  bottom: 8%;
}
#button-media-1
{
  left:15%;
}
#button-media-2
{
  left:39%;
}
#button-media-3
{
  left:63%;
}
#media-screen
{
  text-align: center;
  vertical-align: middle;
}
#media-sub
{
  margin-top: 27%;
  font-size: 60px;
  font-weight: bold;
}

/*--------------- nac------------------------------ */
.buttony-nav
{
  text-align: center;
  vertical-align: middle;
  width: 23%;
  border-radius: 20%;
  border-style: solid;
  border-width: 3px;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  bottom: 8%;
}
#button-nav-1
{
  left:15%;
  background-color: white;
}
#button-nav-2
{
  left:39%;
  background-color: white;
}
#button-nav-3
{
  left:63%;
  background-color: white;
}
#nav-screen
{
  text-align: center;
  vertical-align: middle;
  background-image: url("mapa.png");
}
#nav-sub
{
  margin-top: 35%;
  font-size: 60px;
  font-weight: bold;
}

/*--------------- klima------------------------------ */

#strefa1
{
  position: fixed;
  top: 15%;
  left: 16%;
  height: 37%;
  width: 67%;
  border-style: solid;
  border-width: 4px;
  text-align: center;
  font-size: 40px;
}

#strefa2
{
  position: fixed;
  top: 56%;
  left: 16%;
  height: 37%;
  width: 67%;
  border-style: solid;
  border-width: 4px;
  text-align: center;
  font-size: 40px;
}

.klimanapis
{
#  margin-top: 15%;
}

.plusminus
{
  text-align: center;
  vertical-align: middle;
  width: 3%;
  height: 5%;
  border-radius: 20%;
  border-style: solid;
  border-width: 3px;
  font-size:20px;

  font-weight: bold;
}

#tempp1
{
  position: fixed;
  top: 27%;
  left:20%;
}

#nawiew1
{
  position: fixed;
  top: 27%;
  right: 20%;
}

#temp-1-p
{
  position: fixed;
  top: 38%;
  left: 36%;
}

#temp-1-m
{
  position: fixed;
  top: 38%;
  left: 21%;
}

#naw-1-p
{
  position: fixed;
  top: 38%;
  right: 22%;
}

#naw-1-m
{
  position: fixed;
  top: 38%;
  right: 36%;
}

#tempp2
{
  position: fixed;
  top: 65%;
  left:20%;
}

#nawiew2
{
  position: fixed;
  top: 65%;
  right: 20%;
}

#temp-2-p
{
  position: fixed;
  top: 76%;
  left: 36%;
}

#temp-2-m
{
  position: fixed;
  top: 76%;
  left: 21%;
}

#naw-2-p
{
  position: fixed;
  top: 76%;
  right: 22%;
}

#naw-2-m
{
  position: fixed;
  top: 76%;
  right: 36%;
}

/*--------------- tel------------------------------ */
.buttony-tel
{
  text-align: center;
  vertical-align: middle;
  width: 23%;
  border-radius: 20%;
  border-style: solid;
  border-width: 3px;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  bottom: 8%;
}

#button-tel-1
{
  left:15%;
}
#button-tel-2
{
  left:39%;
}
#button-tel-3
{
  left:63%;
}

#tel-screen
{
  text-align: center;
  vertical-align: middle;
}
#tel-sub1
{
  position: fixed;
  margin-top: 11%;
  font-size: 35px;
  font-weight: bold;
  left:18%;
}
#tel-sub2
{
  position: fixed;
  margin-top: 11%;
  font-size: 35px;
  font-weight: bold;
  right:25%;
}
#tel-sub3
{
  position: fixed;
  margin-top: 17%;
  font-size: 35px;
  font-weight: bold;
  right:37%;
}
.klaw-butt
{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 25%;
  height: 23%;
  border-radius: 20%;
  border-style: solid;
  border-width: 3px;
  font-size:20px;

  font-weight: bold;
}

#info-sub1
{
  position: fixed;
  margin-top: 11%;
  font-size: 45px;
  font-weight: bold;
  left:18%;
}

#info-sub2
{
  position: fixed;
  margin-top: 15%;
  font-size: 45px;
  font-weight: bold;
  left:18%;
}

#info-sub3
{
  position: fixed;
  margin-top: 19%;
  font-size: 45px;
  font-weight: bold;
  left:18%;
}

#info-sub4
{
  display: none;
  position: fixed;
  margin-top: 11%;
  font-size: 45px;
  font-weight: bold;
  left:18%;
}

#info-sub5
{
  display: none;
  position: fixed;
  margin-top: 15%;
  font-size: 45px;
  font-weight: bold;
  left:18%;
}

#info-sub6
{
  display: none;
  position: fixed;
  margin-top: 19%;
  font-size: 45px;
  font-weight: bold;
  left:18%;
}
#info-sub7
{
  display: none;
  position: fixed;
  margin-top: 23%;
  font-size: 45px;
  font-weight: bold;
  left:18%;
}
